.header-container.pl-3.pr-3
    .row.d-flex.align-items-center.header-wrapper
        .col-6
            .logo-container
                i.far.fa-comments(aria-hidden='true')
                span.header-name.ml-1 Messenger
        .col-6
            .row
                .col-5
                .col-7
                    .row.d-flex.align-items-center
                        .col-5
                            .search-container
                                i.fa.fa-search(aria-hidden='true')
                                input(type='text' placeholder='Search here' class='search-input')
                        .col-2
                            .noti-container
                                i.far.fa-bell(aria-hidden='true')
                        .col-5
                            .avt-container
                                img(src="../../assets/images/avatar.jpg", alt="avt")
                                span.avt-name.ml-1.mr-1 Hoang Phuc
                                i.fa.fa-angle-down(aria-hidden='true')