div.nav-container
    div.nav-logo-container.d-flex.justify-content-center.align-items-center
        i.fab.fa-facebook-messenger(aria-hidden='true')
    div.nav-items-container.d-flex.flex-column.justify-content-center.align-items-center.pt-5
        i.fas.fa-home(aria-hidden='true')
        i.far.fa-comment-alt(aria-hidden='true').active
        i.far.fa-user(aria-hidden='true')
        i.far.fa-clock(aria-hidden='true')
        i.fas.fa-video(aria-hidden='true')
        i.fas.fa-tv(aria-hidden='true')
        i.fas.fa-heartbeat(aria-hidden='true')